Baseline Recommender System Notebook

In [117]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml import recommendation
import pandas as pd

In [4]:
df = pd.read_csv('../data/housing-data-new-test.csv')

In [5]:
df_fav = pd.read_csv('../data/favorites_test.csv')

In [223]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

class Recommending:
    def __init__(self, n_clusters=30):
        '''Initializes the TFIDF Vectorizer and KMeans Obj'''

        self.n_clusters = n_clusters
        self.tfidf = TfidfVectorizer(stop_words='english', max_features=100)
        self.km = KMeans(n_clusters=self.n_clusters)
        self.results = {}


    def fit_transform(self, X):
        '''Fits and transforms TFIDF and fits KMeans.

        Params:
            X (array): Array of the descriptions of houses

        '''
        self.tfidf.fit(X)
        desc_tfidf = self.tfidf.transform(X)
        self.km.fit(desc_tfidf.todense())
        return desc_tfidf

    def cosine_sim(self,tfidf):
        ''' Creates a dictionary of the houses to consider based on cosine similarity.
        
        Params:
            tfidf (Tfidf object): object created in fit method
        '''
        
        cosine_similarities = cosine_similarity(tfidf,tfidf)
        for idx, row in df.iterrows():
            if idx < 2822:
                similar_indices = cosine_similarities[idx].argsort()[:-5:-1]
                similar_items = [(cosine_similarities[idx][i], i) for i in similar_indices]
                self.results[row['ID']] = similar_items[1:]
                
    def item(id):
        ''' Helper method for returning item in dataframe when looking for recommendations.
        
        Params:
            id (int): id of recommended house
        
        '''
        
        return df.loc[df.index == id][['ADDRESS', 'URL']].tolist()[0]

    
    def recommend(id, num):
        ''' Prints the recommendations for that house.
        
        Params:
            id (int): id of house that needs recommendations
            num (int): num of recommendations
        '''
        
        try:
            if (num == 0):
                print("Unable to recommend any house")
            elif (num==1):
                print("Recommending " + str(num) + " house similar to " + item(id))
            else :
                print("Recommending " + str(num) + " houses similar to " + item(id))

            print("----------------------------------------------------------")
            recs = results[id][:num]
            for rec in recs:
                print("You may also like to look at: " + item(rec[1]) + " (score:" + str(rec[0]) + ")")
        except IndexError:
            print('These are the houses most similar to your house')
            pass


    def result(self, df):
        '''Takes the df and builds a column with the labels for each house.

        Params:
            df (DataFrame): dataframe with all the housing data


        Returns:
            df (DataFrame): dataframe including new column for label

        '''
        df['LABEL'] = pd.Series(self.km.labels_)
        return df

    def predictions(self, df):
        '''Returns houses that are in the same clusters as their favorites.

        Params:
            df (DataFrame): entire dataframe with the favorites and the cluster labels

        Returns:
            pos (DataFrame): dataframe of houses that have similar descriptions 
                to those that they favorited

        '''
        list_of_rows = []
        possible_clusters = df[df['FAVORITED'] == 'Y']['LABEL'].unique()
        for idx, row in df.iterrows():
            if row['LABEL'] in possible_clusters and row['FAVORITED'] == 'N':
                list_of_rows.append(row)
        return pd.concat(list_of_rows)

def get_data(file, fave_file=None):
    '''Takes in a filename and returns it as a dataframe.


    Params:
        file (csv): file in csv format

    Returns:
        df (DataFrame): pandas dataframe of data from file
    '''
    df = pd.read_csv(file)
    df['FAVORITE'] = 'N'    
    if fave_file != None:
        df_faves = pd.read_csv(fave_file)
        for idx, row in df.iterrows():
            if row['ADDRESS'] in list(df_faves['ADDRESS']):
                df.loc[idx,'FAVORITE'] = 'Y'
    df.rename(columns={'$/SQUARE FEET': 'PRICE/SQUAREFT'})
    df['DESC'] = df['DESC'].fillna('No Description')
    df = df.fillna(0)
    df.drop(df[df['STATE'] != 'WA'].index, inplace=True)
    if 'Unnamed: 0' in df.columns:
        df.drop('Unnamed: 0', inplace=True, axis=1)
    df.drop_duplicates(inplace=True)
    return df

In [346]:
df = get_data('../data/housing-data.csv', '../data/favorites_test.csv')
df['PRICE'] = df['PRICE'].dropna(axis=0)
cluster = Recommending()
tfidf = cluster.fit_transform(df.DESC.values)
df = cluster.result(df)
# preds = cluster.predictions(df)

In [351]:
df_only_num = pd.read_csv('../data/housing-data.csv')
df_only_num['PRICE'] = df_only_num['PRICE'].dropna(axis=0)
X = df_only_num.DESC.fillna('No Description')
tfidf = TfidfVectorizer(stop_words='english', max_features=100)
tfidf.fit(X)
desc_tfidf = tfidf.transform(X)
desc_tfidf

<2888x100 sparse matrix of type '<class 'numpy.float64'>'
	with 43983 stored elements in Compressed Sparse Row format>

In [355]:
df_only_num = df_only_num.drop(['Unnamed: 0', 'SALE TYPE','ADDRESS','CITY', 'STATE',
                                'ZIP', 'LOCATION','STATUS', 'NEXT OPEN HOUSE START TIME',
                                'NEXT OPEN HOUSE END TIME', 'URL', 'SOURCE', 'MLS#',
                                'FAVORITE','INTERESTED','DESC', 'SOLD DATE', 'DAYS ON MARKET'], axis=1)

PROPERTY_TYPE = pd.get_dummies(df_only_num['PROPERTY TYPE'])

df_only_num = pd.concat([df_only_num.drop('PROPERTY TYPE', axis=1), PROPERTY_TYPE], axis=1)

filling na values that are understandable

In [383]:
df_only_num['HOA/MONTH'] = df_only_num['HOA/MONTH'].fillna(0)

df_only_num['YEAR BUILT'] = df_only_num['YEAR BUILT'].fillna(2019)

for idx, row in df_only_num.iterrows():
    if row['Vacant Land'] == 1 and str(row['BEDS']) == 'NaN':
        df_only_num.loc[idx, 'BEDS'] = 0
        df_only_num.loc[idx, 'BATHS'] = 0
        df_only_num.loc[idx, 'SQUARE FEET'] = 0
        df_only_num.loc[idx, '$/SQUARE FEET'] = 0
for col in df_only_num.columns:
    df_only_num[col].fillna(df_only_num[col].mean())

In [384]:
df_only_num['BEDS'] = df_only_num['BEDS'].round()
df_only_num['BATHS'] = df_only_num['BATHS'].round(2)
df_only_num['$/SQUARE FEET'] = df_only_num['$/SQUARE FEET'].round(2)
df_only_num['SQUARE FEET'] = df_only_num['SQUARE FEET'].round(2)

In [321]:
df_only_num['PRICE'] = df_only_num['PRICE'].dropna(axis=0)

In [362]:
df_only_num.fillna(0, inplace=True)

In [363]:
km = KMeans(n_clusters=40)
km.fit(df_only_num)
# km.tranform(df_only_num)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=40, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [364]:
df_only_num['labels'] = km.labels_

In [385]:
tfidf_matrix = pd.concat([pd.DataFrame(desc_tfidf.todense()),
                          df['PRICE'] / 1000, df_only_num['BEDS']], axis=1)

In [376]:
import numpy as np
tfidf_matrix = tfidf_matrix.fillna(0)

Recommender Based on TFIDF Matrix and Cosine Similarity

In [377]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarities = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [378]:
df_only_num['ID'] = df_only_num.index
results = {}
for idx, row in df_only_num.iterrows():
    if idx < 2822:
        similar_indices = cosine_similarities[idx].argsort()[:-5:-1]
        similar_items = [(cosine_similarities[idx][i], i) for i in similar_indices]
        results[row['ID']] = similar_items[1:]

In [379]:
def item(id):
    return df.loc[df.index == id]['ADDRESS'].tolist()[0]
def recommend(id, num):
    try:
        if (num == 0):
            print("Unable to recommend any house")
        elif (num==1):
            print("Recommending " + str(num) + " house similar to " + item(id))
        else :
            print("Recommending " + str(num) + " houses similar to " + item(id))

        print("----------------------------------------------------------")
        recs = results[id][:num]
        for rec in recs:
            if rec[0] > 0:
                print("You may also like to look at: " + item(rec[1]) + " (score:" + str(rec[0]) + ")")
    except IndexError:
        print('These are the houses most similar to your house')
        pass

In [382]:
recommend(2000, 1)

Recommending 1 house similar to 5235 SW Jacobsen Rd
----------------------------------------------------------
You may also like to look at: 11700 68th Ave S (score:0.999996177386)

Recommendations Based on Other Users

In [126]:
import numpy as np

In [123]:
users = pd.DataFrame()

fave = pd.read_csv('../data/favorites_test.csv')

fave['user_id'] = 1

df.index.rename('house_id', inplace=True)

fave['rating'] = 1

users = pd.concat([fave['user_id'], pd.Series(df[df['FAVORITE'] == 'Y'].index), fave['rating']], axis=1)

users = users.fillna(1)

users.to_csv('../data/users.csv')

In [127]:
def build_user_matrix(users, new_user):
    ''' Adds new user data to users dataframe
    
    Params:
        users (file): existing file for the users data
        new_user (file): df with favorited col updated for user
    '''
    users = pd.read_csv(users)
    df = get_data('../data/housing-data.csv', new_user)
    house_id = list(users['house_id'])
    ratings = list(users['rating'])
    user_id = list(users['user_id'])
    df['rating'] = df['FAVORITE'].apply(lambda x: 1 if x == 'Y' else 0)
    df['user_id'] = df['FAVORITE'].apply(lambda x: (users.user_id.max() + 1) if x == 'Y' else 0)
    df = df.drop(df[df['user_id'] == 0].index)
    user_id.extend(list(df['user_id']))
    house_id.extend(list(df[df['FAVORITE'] == 'Y'].index))
    ratings.extend(list(df['rating']))
    users = pd.concat([pd.Series(user_id), pd.Series(house_id), pd.Series(ratings)], axis=1)
    users = users.rename(columns={0:'user_id', 1:'house_id', 2:'rating'})
    users.to_csv('../data/users.csv')
    return users

In [128]:
build_user_matrix('../data/users.csv', '../data/redfin-favorites_erepp.csv')
build_user_matrix('../data/users.csv', '../data/redfin-favorites_repp-el.csv')
build_user_matrix('../data/users.csv', '../data/redfin-favorites_travels.csv')

    user_id  house_id  rating
0       1.0       840     1.0
1       1.0       999     1.0
2       1.0      1003     1.0
3       1.0      1043     1.0
4       1.0      1273     1.0
5       1.0      1331     1.0
6       1.0      1345     1.0
7       1.0      1463     1.0
8       2.0       231     1.0
9       2.0       238     1.0
10      2.0       261     1.0
11      2.0       268     1.0
12      2.0       315     1.0
13      2.0      1003     1.0
14      2.0      1036     1.0
15      2.0      1277     1.0
16      2.0      1671     1.0
17      2.0      1774     1.0
18      2.0      1777     1.0
19      2.0      1781     1.0
20      2.0      1802     1.0
21      2.0      1808     1.0
22      2.0      1848     1.0
23      2.0      1858     1.0
24      2.0      1887     1.0
25      3.0      1180     1.0
26      3.0      2380     1.0
27      3.0      2496     1.0
28      3.0      2641     1.0
29      3.0      2648     1.0
30      3.0      2725     1.0
31      3.0      2749     1.0
32      4.0      1571     1.0
33      4.0      1606     1.0
34      4.0      1642     1.0
35      4.0      1678     1.0
36      4.0      1921     1.0
37      4.0      2131     1.0
38      4.0      2225     1.0
39      4.0      2342     1.0
40      4.0      2364     1.0
41      4.0      2396     1.0

In [129]:
users = pd.read_csv('../data/users.csv')

In [149]:
R_df = users.pivot(index = 'user_id', columns ='house_id', values = 'rating').fillna(0)

In [310]:
# Setup a SparkSession
spark = SparkSession.builder.getOrCreate()

spark_df = spark.createDataFrame(users)

df = spark_df.toPandas()

train, test = spark_df.randomSplit([0.8, 0.2], seed=427471138)

als_model = recommendation.ALS(
    itemCol='house_id',
    userCol='user_id',
    ratingCol='rating',
    nonnegative=True,    
    regParam=0.1,
    rank=10) 

recommender = als_model.fit(train)

In [311]:
rec = recommender.recommendForAllUsers(1)

In [312]:
item_features = recommender.itemFactors.toPandas()

user_features = recommender.userFactors.toPandas()

In [313]:
predictions = recommender.transform(train)

In [315]:
predictions.toPandas()

      user_id  house_id  rating  prediction
0        11.0       471     1.0    0.901173
1        14.0       471     1.0    0.901173
2        22.0      1829     1.0    0.900920
3        19.0      1829     1.0    0.900920
4        23.0      1829     1.0    0.900920
5        22.0      2142     1.0    0.900920
6        23.0      2142     1.0    0.900920
7        31.0      2366     1.0    0.900494
8        28.0      2366     1.0    0.900494
9        29.0      2366     1.0    0.900494
10       26.0       858     1.0    0.901326
11       27.0       858     1.0    0.901326
12       30.0       858     1.0    0.901326
13       17.0      1025     1.0    0.901178
14       25.0      1025     1.0    0.901178
15       13.0      1507     1.0    0.901055
16       15.0      1507     1.0    0.901055
17        9.0      2235     1.0    0.900988
18        8.0      2235     1.0    0.900867
19       10.0      2235     1.0    0.901073
20       24.0      2563     1.0    0.900868
21       18.0      2563     1.0    0.900866
22       19.0      2811     1.0    0.900920
23       23.0      2811     1.0    0.900920
24       13.0      1143     1.0    0.901055
25       15.0      1143     1.0    0.901055
26       34.0      1303     1.0    0.899040
27       35.0      1303     1.0    0.899096
28       32.0      1303     1.0    0.899168
29       34.0      1352     1.0    0.899040
...       ...       ...     ...         ...
1259     19.0       468     1.0    0.900920
1260     23.0       468     1.0    0.900920
1261     16.0      1416     1.0    0.901173
1262     11.0      1416     1.0    0.901173
1263     14.0      1416     1.0    0.901173
1264     20.0      1803     1.0    0.900875
1265     24.0      1803     1.0    0.900866
1266     18.0      1803     1.0    0.900862
1267     31.0      2546     1.0    0.900494
1268     29.0      2546     1.0    0.900494
1269     17.0        36     1.0    0.901178
1270     25.0        36     1.0    0.901178
1271     21.0        36     1.0    0.901178
1272      2.0       315     1.0    0.901280
1273      2.0      1277     1.0    0.901280
1274     12.0      1359     1.0    0.901055
1275     13.0      1359     1.0    0.901055
1276      6.0      2370     1.0    0.901155
1277      5.0      2370     1.0    0.901155
1278      7.0      2370     1.0    0.901155
1279     12.0      2454     1.0    0.901055
1280     13.0      2454     1.0    0.901055
1281     15.0      2454     1.0    0.901055
1282     16.0      2511     1.0    0.901173
1283     11.0      2511     1.0    0.901173
1284     14.0      2511     1.0    0.901173
1285     31.0      1138     1.0    0.900494
1286     28.0      1138     1.0    0.900494
1287     13.0      2457     1.0    0.901055
1288     15.0      2457     1.0    0.901055

[1289 rows x 4 columns]