Baseline Recommender System Notebook

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml import recommendation
import pandas as pd

In [77]:
spark_df = (spark.read.format("csv").options(header="true")
    .load("../data/housing-data-new-test.csv"))

In [78]:
df = spark_df.toPandas()

In [11]:
train, test = spark_df.randomSplit([0.8, 0.2], seed=427471138)

In [89]:
als_model = recommendation.ALS(
#     itemCol='1',
#     userCol='',
#     ratingCol='2',
    nonnegative=True,    
    regParam=0.1,
    rank=10)

In [224]:
recommender = als_model.fit(train)

IllegalArgumentException: 'requirement failed: Column LABEL must be of type NumericType but was actually of type StringType.'

In [2]:
df = pd.read_csv('../data/housing-data-new-test.csv')

In [3]:
df_fav = pd.read_csv('../data/favorites_test.csv')

In [105]:
import pandas as pd

from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer



class Clustering:
    def __init__(self, n_clusters=30):
        '''Initializes the TFIDF Vectorizer and KMeans Obj'''

        self.n_clusters = n_clusters
        self.tfidf = TfidfVectorizer(stop_words='english', max_features=500)
        self.km = KMeans(n_clusters=self.n_clusters)


    def fit_transform(self, X):
        '''Fits and transforms TFIDF and fits KMeans.

        Params:
            X (array): Array of the descriptions of houses

        '''
        self.tfidf.fit(X)
        desc_tfidf = self.tfidf.transform(X)
        return desc_tfidf
#         self.km.fit(desc_tfidf.todense())


    def result(self, df):
        '''Takes the df and builds a column with the labels for each house.

        Params:
            df (DataFrame): dataframe with all the housing data


        Returns:
            df (DataFrame): dataframe including new column for label

        '''
        df['LABEL'] = pd.Series(self.km.labels_)
        return df

    def predictions(self, df):
        '''Returns houses that are in the same clusters as their favorites.

        Params:
            df (DataFrame): entire dataframe with the favorites and the cluster labels

        Returns:
            pos (DataFrame): dataframe of houses that have similar descriptions 
                to those that they favorited

        '''
        list_of_rows = []
        possible_clusters = df[df['FAVORITED'] == 'Y']['LABEL'].unique()
        for idx, row in df.iterrows():
            if row['LABEL'] in possible_clusters and row['FAVORITED'] == 'N':
                list_of_rows.append(row)
        return pd.concat(list_of_rows)



def get_data(file, fave_file=None):
    '''Takes in a filename and returns it as a dataframe.


    Params:
        file (csv): file in csv format

    Returns:
        df (DataFrame): pandas dataframe of data from file
    '''
    df = pd.read_csv(file)
    df['FAVORITE'] = 'N'    
    if fave_file != None:
        df_faves = pd.read_csv(fave_file)
        for idx, row in df.iterrows():
            if row['ADDRESS'] in list(df_faves['ADDRESS']):
                df.loc[idx,'FAVORITE'] = 'Y'
    df.rename(columns={'$/SQUARE FEET': 'PRICE/SQUAREFT'})
    df['DESC'] = df['DESC'].fillna('No Description')
    df = df.fillna(0)
    df.drop(df[df['STATE'] != 'WA'].index, inplace=True)
    if 'Unnamed: 0' in df.columns:
        df.drop('Unnamed: 0', inplace=True, axis=1)
    df.drop_duplicates(inplace=True)
    return df

In [93]:
df['SALE TYPE'] = df['SALE TYPE'].apply(lambda x: 1 if x == 'MLS Listing' or x == 'For-Sale-by-Owner Listing' else 0)

In [94]:
df['SALE TYPE'].value_counts()

1    2590
0     232
Name: SALE TYPE, dtype: int64

In [90]:
df.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY', 'STATE',
       'ZIP', 'PRICE', 'BEDS', 'BATHS', 'LOCATION', 'SQUARE FEET', 'LOT SIZE',
       'YEAR BUILT', 'DAYS ON MARKET', '$/SQUARE FEET', 'HOA/MONTH', 'STATUS',
       'NEXT OPEN HOUSE START TIME', 'NEXT OPEN HOUSE END TIME', 'URL',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE',
       'DESC'],
      dtype='object')

In [106]:
df = get_data('../data/housing-data.csv', '../data/favorites_test.csv')
cluster = Clustering()
tfidf = cluster.fit_transform(df.DESC.values)
# df = cluster.result(df)
# preds = cluster.predictions(df)

In [85]:
matrix = pd.DataFrame(tfidf.todense())

In [100]:
users = pd.DataFrame()

In [101]:
fave = pd.read_csv('../data/favorites_test.csv')

In [184]:
fave['user_id'] = 1

In [107]:
fave

,SALE TYPE,HOME TYPE,ADDRESS,CITY,STATE,ZIP,LIST PRICE,BEDS,BATHS,LOCATION,...,URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,LISTING ID,ORIGINAL SOURCE,FAVORITE,INTERESTED,LATITUDE,LONGITUDE,IS SHORT SALE,user_id
0,MLS Listing,Single Family Residential,10336 Wallingford Ave N,Seattle,WA,98133,1499950,5,4.50,Licton Springs,...,http://www.redfin.com/WA/Seattle/10336-Walling...,Northwest Multiple Listing Service (NWMLS),1189373,"RE/MAX Metro Realty, Inc.",Y,Y,47.704363,-122.335341,False,1
1,MLS Listing,Condo/Co-op,939 N 101st St #303,Seattle,WA,98133,330000,1,1.00,Greenwood,...,http://www.redfin.com/WA/Seattle/939-N-101st-S...,Northwest Multiple Listing Service (NWMLS),1275356,Best Choice Realty LLC,Y,Y,47.701992,-122.345518,False,1
2,MLS Listing,Single Family Residential,14548 35th Ave NE,Lake Forest Park,WA,98155,684990,3,2.25,Lake Forest Park,...,http://www.redfin.com/WA/Lake-Forest-Park/1454...,Northwest Multiple Listing Service (NWMLS),1278442,Pulte Homes of Washington Inc,Y,Y,47.733993,-122.291057,False,1
3,MLS Listing,Single Family Residential,1800 NE 96th St,Seattle,WA,98115,499950,2,1.00,Maple Leaf,...,http://www.redfin.com/WA/Seattle/1800-NE-96th-...,Northwest Multiple Listing Service (NWMLS),1280565,Redfin Corp.,Y,Y,47.699028,-122.308573,False,1
4,MLS Listing,Single Family Residential,340 NE 53rd St,Seattle,WA,98105,749950,4,1.75,Wallingford,...,http://www.redfin.com/WA/Seattle/340-NE-53rd-S...,Northwest Multiple Listing Service (NWMLS),1283898,Redfin Corp.,Y,Y,47.667392,-122.323787,False,1
5,MLS Listing,Single Family Residential,345 N 101st St,Seattle,WA,98133,849000,4,3.00,Greenwood,...,http://www.redfin.com/WA/Seattle/345-N-101st-S...,Northwest Multiple Listing Service (NWMLS),1284605,Keller Williams Downtown Sea,Y,Y,47.701971,-122.353408,False,1
6,MLS Listing,Single Family Residential,805 NE 98th St,Seattle,WA,98115,775000,3,2.00,Maple Leaf,...,http://www.redfin.com/WA/Seattle/805-NE-98th-S...,Northwest Multiple Listing Service (NWMLS),1285275,RE/MAX Northwest Realtors,Y,Y,47.700180,-122.319861,False,1

In [109]:
df.index.rename('house_id', inplace=True)

In [306]:
fave['rating'] = 1

In [307]:
users = pd.concat([fave['user_id'], pd.Series(df[df['FAVORITE'] == 'Y'].index), fave['rating']], axis=1)

In [308]:
users = users.fillna(1)

In [309]:
users

   user_id  house_id  rating
0      1.0       840     1.0
1      1.0       999     1.0
2      1.0      1003     1.0
3      1.0      1043     1.0
4      1.0      1273     1.0
5      1.0      1331     1.0
6      1.0      1345     1.0
7      1.0      1463     1.0

In [310]:
users.to_csv('../data/users.csv')

In [146]:
df[df['FAVORITE'] == 'Y']

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE,ZIP,PRICE,BEDS,BATHS,...,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL,SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE,DESC
house_id,,,,,,,,,,,,,,,,,,,,,
840,MLS Listing,0.0,Single Family Residential,14548 35th Ave NE,Lake Forest Park,WA,98155,684990.0,3,2.25,...,0,0,http://www.redfin.com/WA/Lake-Forest-Park/1454...,NWMLS,1278442,Y,Y,47.733993,-122.291057,Introducing 12 Degrees North a collection of 1...
999,MLS Listing,0.0,Single Family Residential,340 NE 53rd St,Seattle,WA,98105,749950.0,4,1.75,...,0,0,http://www.redfin.com/WA/Seattle/340-NE-53rd-S...,NWMLS,1283898,Y,Y,47.667392,-122.323787,"Perched above the street, enjoy Mt. Rainier vi..."
1003,MLS Listing,0.0,Single Family Residential,1800 NE 96th St,Seattle,WA,98115,499950.0,2,1.00,...,0,0,http://www.redfin.com/WA/Seattle/1800-NE-96th-...,NWMLS,1280565,Y,Y,47.699028,-122.308573,Invalid URL
1043,MLS Listing,0.0,Single Family Residential,805 NE 98th St,Seattle,WA,98115,775000.0,3,2.00,...,0,0,http://www.redfin.com/WA/Seattle/805-NE-98th-S...,NWMLS,1285275,Y,Y,47.700180,-122.319861,Welcome home to your beautiful 3 bed/2 bath ho...
1273,MLS Listing,0.0,Single Family Residential,345 N 101st St,Seattle,WA,98133,849000.0,4,3.00,...,0,0,http://www.redfin.com/WA/Seattle/345-N-101st-S...,NWMLS,1284605,Y,Y,47.701971,-122.353408,Beautifully updated 2 bed/2 bath condo in grea...
1331,MLS Listing,0.0,Single Family Residential,14548 35th Ave NE,Lake Forest Park,WA,98155,684990.0,3,2.25,...,0,0,http://www.redfin.com/WA/Lake-Forest-Park/1454...,NWMLS,1278442,Y,Y,47.733993,-122.291057,Exceptional 4 bedroom Bitter Lake one level co...
1345,MLS Listing,0.0,Condo/Co-op,939 N 101st St #303,Seattle,WA,98133,330000.0,1,1.00,...,0,0,http://www.redfin.com/WA/Seattle/939-N-101st-S...,NWMLS,1275356,Y,Y,47.701992,-122.345518,Imagine stepping onto your terrace overlooking...
1463,MLS Listing,0.0,Single Family Residential,10336 Wallingford Ave N,Seattle,WA,98133,1499950.0,5,4.50,...,0,0,http://www.redfin.com/WA/Seattle/10336-Walling...,NWMLS,1189373,Y,Y,47.704363,-122.335341,No Description

In [79]:
matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.109952,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.109242,0.0,0.0,0.0,0.133652,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.128775,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.115833,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.130961,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.164144,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0

In [198]:
import numpy as np

In [158]:
users.user_id.max() + 1

2.0

In [311]:
def build_user_matrix(users, new_user):
    ''' Adds new user data to users dataframe
    
    Params:
        users (file): existing file for the users data
        new_user (file): df with favorited col updated for user
    '''
    users = pd.read_csv(users)
    df = get_data('../data/housing-data.csv', new_user)
    house_id = list(users['house_id'])
    ratings = list(users['rating'])
    user_id = list(users['user_id'])
    df['rating'] = df['FAVORITE'].apply(lambda x: 1 if x == 'Y' else 0)
    df['user_id'] = df['FAVORITE'].apply(lambda x: (users.user_id.max() + 1) if x == 'Y' else 0)
    df = df.drop(df[df['user_id'] == 0].index)
    user_id.extend(list(df['user_id']))
    house_id.extend(list(df[df['FAVORITE'] == 'Y'].index))
    ratings.extend(list(df['rating']))
    users = pd.concat([pd.Series(user_id), pd.Series(house_id), pd.Series(ratings)], axis=1)
    users = users.rename(columns={0:'user_id', 1:'house_id', 2:'rating'})
    users.to_csv('../data/users.csv')
    return users

In [314]:
build_user_matrix('../data/users.csv', '../data/redfin-favorites_travels.csv')

    user_id  house_id  rating
0       1.0       840     1.0
1       1.0       999     1.0
2       1.0      1003     1.0
3       1.0      1043     1.0
4       1.0      1273     1.0
5       1.0      1331     1.0
6       1.0      1345     1.0
7       1.0      1463     1.0
8       2.0       231     1.0
9       2.0       238     1.0
10      2.0       261     1.0
11      2.0       268     1.0
12      2.0       315     1.0
13      2.0      1003     1.0
14      2.0      1036     1.0
15      2.0      1277     1.0
16      2.0      1671     1.0
17      2.0      1774     1.0
18      2.0      1777     1.0
19      2.0      1781     1.0
20      2.0      1802     1.0
21      2.0      1808     1.0
22      2.0      1848     1.0
23      2.0      1858     1.0
24      2.0      1887     1.0
25      3.0      1180     1.0
26      3.0      2380     1.0
27      3.0      2496     1.0
28      3.0      2641     1.0
29      3.0      2648     1.0
30      3.0      2725     1.0
31      3.0      2749     1.0
32      4.0      1571     1.0
33      4.0      1606     1.0
34      4.0      1642     1.0
35      4.0      1678     1.0
36      4.0      1921     1.0
37      4.0      2131     1.0
38      4.0      2225     1.0
39      4.0      2342     1.0
40      4.0      2364     1.0
41      4.0      2396     1.0

In [339]:
matrix

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,house_id
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.109952,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.133652,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.128775,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.115833,...,0.000000,0.0,0.000000,0.000000,0.000000,0.130961,0.000000,0.000000,0.000000,3
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.164144,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.330856,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.219135,0.000000,0.000000,0.000000,0.000000,7
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.22249,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.141118,0.000000,0.000000,0.000000,8
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.136612,...,0.000000,0.0,0.000000,0.000000,0.000000,0.154454,0.000000,0.000000,0.000000,9
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.201501,0.0,0.000000,0.000000,0.000000,0.000000,0.199739,0.000000,0.000000,10
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.220727,0.000000,0.000000,0.000000,12
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.117014,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.148710,0.000000,0.000000,0.000000,15
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.123970,0.000000,0.000000,0.000000,17
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.219613,...,0.000000,0.0,0.000000,0.142453,0.000000,0.248295,0.000000,0.000000,0.000000,18
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.157438,0.000000,0.000000,0.000000,0.000000,0.000000,19
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.137528,...,0.000000,0.0,0.000000,0.000000,0.000000,0.155490,0.000000,0.000000,0.000000,20
21,0.000000,0.000000,0.182073,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.104882,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.130447,0.000000,0.000000,0.000000,22
23,0.000000,0.000000,0.183994,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.132359,0.000000,0.000000,0.000000,24
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.112990,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25
26,0.000000,0.000000,0.000000,0.160453,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.141978,0.000000,0.000000,0.000000,0.000000,0.000000,26
27,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.170522,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27
28,0.000000,0.000000,0.000000,0.165916,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.186594,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.146831,0.000000,0.000000,0.000000,0.000000,0.000000,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2792
2793,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2793
2794,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.135448,0.000000,0.000000,0.000000,2794
2795,0.249114,0.239391,0.000000,0.000000,0.264644,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2795
2796,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.120539,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.192468,0.000000,2796
2797,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.207821,0.000000,2797
2798,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.125880,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2798
2799,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.129729,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2799
2800,0.000000,0.251812,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2800
2801,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2801
2802,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2802
2803,0.000000,0.000000,0.208121,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2803
2804,0.000000,0.000000,0.208121,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2804
2805,0.000000,0.000000,0.208121,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2805
2806,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2806
2807,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.140551,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.247984,2807
2808,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2808
2809,0.000000,0.199524,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.392380,0.000000,2809
2810,0.000000,0.199449,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.187384,0.000000,0.000000,0.000000,0.000000,2810
2811,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2811
2812,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2812
2813,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2813
2814,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.189229,0.000000,2814
2815,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2815
2816,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2816
2817,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2817
2818,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.201806,0.000000,0.000000,0.000000,0.000000,0.000000,2818
2819,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2819
2820,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2820
2821,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2821

In [96]:
user_matrix = df[[]]

In [99]:
'item_id' = item_matrix.index

True

In [330]:
len(item_matrix['house_id'])

1413822

In [ ]:
item_matrix