Web Scraper for Descriptions of Houses

In [30]:
from selenium.webdriver import (Chrome)
import pandas as pd
from itertools import chain
from collections import OrderedDict
pd.options.display.max_columns = 25
import time
import random

Testing Scraper on First Row of DF

In [26]:
url = df['URL'][0]

browser.get(url)

sel = "div.sectionContent"
description = browser.find_elements_by_css_selector(sel)

description[0].text

In [45]:
df_everett = pd.read_csv('../data-housing/everett-may-7.csv')
df_lynn = pd.read_csv('../data-housing/lynnwood-may-7.csv')
df_edm = pd.read_csv('../data-housing/edmonds-may-7.csv')
df_muk = pd.read_csv('../data-housing/mukilteo-may-7.csv')
df_mc = pd.read_csv('../data-housing/mill-creek-may-7.csv')
df_bothell = pd.read_csv('../data-housing/bothell-may-7.csv')
df_kenmore = pd.read_csv('../data-housing/kenmore-may-7.csv')
df_lfp = pd.read_csv('../data-housing/lake-forest-park-may-7.csv')
df_shoreline = pd.read_csv('../data-housing/shoreline-may-7.csv')
df_nsea = pd.read_csv('../data-housing/north-seattle-may-7.csv')
df_csea = pd.read_csv('../data-housing/central-seattle-may-7.csv')
df_wsea = pd.read_csv('../data-housing/west-seattle-may-7.csv')
df_ssea = pd.read_csv('../data-housing/south-seattle-burien-may-7.csv')
df_renton = pd.read_csv('../data-housing/renton-may-7.csv')
df_newcastle = pd.read_csv('../data-housing/newcastle-may-7.csv')
df_bellevue = pd.read_csv('../data-housing/bellevue-may-7.csv')
df_kirkland = pd.read_csv('../data-housing/kirkland-may-7.csv')
df_redmond = pd.read_csv('../data-housing/redmond-may-7.csv')
df_mt = pd.read_csv('../data-housing/mountlake-terrace-may-7.csv')

In [137]:
finished_dfs

In [199]:
list_of_dfs = [df_wsea, df_renton, df_newcastle, 
               df_bellevue, df_kirkland, df_redmond]

Testing Scraper on Lake Forest Park Data
> Works for LFP

In [51]:
df = df_lfp
df = df.rename(columns={'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)': 
                        'URL'})
col = []
browser = Chrome()
for idx, row in df.iterrows():
    url = row['URL']
    try:
        browser.get(url)
        sel = "div.sectionContent"
        description = browser.find_elements_by_css_selector(sel)
        col.append(description[0].text)
    except RemoteDisconnected:
        col.append('Invalid URL')
#     time.sleep(3 + random.random() * 10)
    if idx % 4 == 0:
        print(idx) 
df['DESC'] = pd.Series(col)

0
4
8
12
16
20

In [54]:
df_lfp = df

In [209]:
list_of_dfs[5][list_of_dfs[5]['DESC'] == 'Invalid URL']

Empty DataFrame
Columns: [SALE TYPE, SOLD DATE, PROPERTY TYPE, ADDRESS, CITY, STATE, ZIP, PRICE, BEDS, BATHS, LOCATION, SQUARE FEET, LOT SIZE, YEAR BUILT, DAYS ON MARKET, $/SQUARE FEET, HOA/MONTH, STATUS, NEXT OPEN HOUSE START TIME, NEXT OPEN HOUSE END TIME, URL, SOURCE, MLS#, FAVORITE, INTERESTED, LATITUDE, LONGITUDE, DESC]
Index: []

[0 rows x 28 columns]

In [200]:
for i, df in enumerate(list_of_dfs):
    list_of_dfs[i] = list_of_dfs[i].rename(columns={'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)': 
                            'URL'})
    col = []
    browser = Chrome()
    for idx, row in list_of_dfs[i].iterrows():
        url = row['URL']
        try:
            browser.get(url)
            sel = "div.sectionContent"
            description = browser.find_elements_by_css_selector(sel)
            col.append(description[0].text)
        except:
            col.append('Invalid URL')
        time.sleep(2 + random.random() * 3)
        if idx % 10 == 0:
            print('{}/{} df'.format(i, len(list_of_dfs)), '{}/{}'.format(idx, len(list_of_dfs[i]))) 
    list_of_dfs[i]['DESC'] = pd.Series(col)

0/6 df 0/266
0/6 df 10/266
0/6 df 20/266
0/6 df 30/266
0/6 df 40/266
0/6 df 50/266
0/6 df 60/266
0/6 df 70/266
0/6 df 80/266
0/6 df 90/266
0/6 df 100/266
0/6 df 110/266
0/6 df 120/266
0/6 df 130/266
0/6 df 140/266
0/6 df 150/266
0/6 df 160/266
0/6 df 170/266
0/6 df 180/266
0/6 df 190/266
0/6 df 200/266
0/6 df 210/266
0/6 df 220/266
0/6 df 230/266
0/6 df 240/266
0/6 df 250/266
0/6 df 260/266
1/6 df 0/303
1/6 df 10/303
1/6 df 20/303
1/6 df 30/303
1/6 df 40/303
1/6 df 50/303
1/6 df 60/303
1/6 df 70/303
1/6 df 80/303
1/6 df 90/303
1/6 df 100/303
1/6 df 110/303
1/6 df 120/303
1/6 df 130/303
1/6 df 140/303
1/6 df 150/303
1/6 df 160/303
1/6 df 170/303
1/6 df 180/303
1/6 df 190/303
1/6 df 200/303
1/6 df 210/303
1/6 df 220/303
1/6 df 230/303
1/6 df 240/303
1/6 df 250/303
1/6 df 260/303
1/6 df 270/303
1/6 df 280/303
1/6 df 290/303
1/6 df 300/303
2/6 df 0/21
2/6 df 10/21
2/6 df 20/21
3/6 df 0/245
3/6 df 10/245
3/6 df 20/245
3/6 df 30/245
3/6 df 40/245
3/6 df 50/245
3/6 df 60/245
3/6 df 70/245
3/6 df 80/245
3/6 df 90/245
3/6 df 100/245
3/6 df 110/245
3/6 df 120/245
3/6 df 130/245
3/6 df 140/245
3/6 df 150/245
3/6 df 160/245
3/6 df 170/245
3/6 df 180/245
3/6 df 190/245
3/6 df 200/245
3/6 df 210/245
3/6 df 220/245
3/6 df 230/245
3/6 df 240/245
4/6 df 0/168
4/6 df 10/168
4/6 df 20/168
4/6 df 30/168
4/6 df 40/168
4/6 df 50/168
4/6 df 60/168
4/6 df 70/168
4/6 df 80/168
4/6 df 90/168
4/6 df 100/168
4/6 df 110/168
4/6 df 120/168
4/6 df 130/168
4/6 df 140/168
4/6 df 150/168
4/6 df 160/168
5/6 df 0/119
5/6 df 10/119
5/6 df 20/119
5/6 df 30/119
5/6 df 40/119
5/6 df 50/119
5/6 df 60/119
5/6 df 70/119
5/6 df 80/119
5/6 df 90/119
5/6 df 100/119
5/6 df 110/119

In [210]:
# finished_dfs = list_of_dfs[:7]
# finished_dfs.append(df_lfp)
# finished_dfs.append(list_of_dfs[9][:140])
# finished_dfs.append(list_of_dfs[8][:68])
# finished_dfs.extend(list_of_dfs[:4])
# finished_dfs.append(list_of_dfs[5][:111])
# finished_dfs.extend(list_of_dfs[:3])
finished_dfs.extend(list_of_dfs)

In [213]:
finished_dfs[16][finished_dfs[16]['DESC'] == 'Invalid URL']

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE,ZIP,PRICE,BEDS,BATHS,LOCATION,SQUARE FEET,...,HOA/MONTH,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL,SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE,DESC
222,MLS Listing,NaN,Single Family Residential,1110 N 33rd St,Renton,WA,98056,1099000,4,3.5,Lower Kennydale,3840.0,...,NaN,Active,NaN,NaN,http://www.redfin.com/WA/Renton/1110-N-33rd-St...,NWMLS,1214952,N,Y,47.520846,-122.203786,Invalid URL

In [224]:
greater_sea_area = pd.concat(finished_dfs, axis=0)

out of 2888 houses, only 15 of them dont have a description

In [227]:
browser = Chrome()
for idx, row in greater_sea_area[greater_sea_area['DESC'] == 
                                 'Invalid URL'].iterrows():
    url = row['URL']
    try:
        browser.get(url)
        sel = "div.sectionContent"
        description = browser.find_elements_by_css_selector(sel)
        row['DESC'] = description[0].text
    except:
        pass

In [229]:
greater_sea_area.to_csv('../data-housing/first_dataset.csv')